@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* cursor: none; */
}
::after,::before{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
:root{
    --background:#fdfdfd;
    --drive:#a3a5ae;
    --color-primary:black;
    --color-secondary:white;
    --heading-primary:#4c4e61;
    --grayishblue:#a3a5ae;
    --bgtitle:#a3a5ae34;  
    --red: #ea5353;
    --cyan: #45d3d3;
    --orange: #fcaf4a;
    --blue: #549ef2;
    --changer:#000000;
}
.dark{
    --background:#343a40;
    --changer:#ffffff;
    --drive:black;
    --color-primary:white;
    --color-secondary:black;
    --bgtitle:#d3d3d314;  
}
/* Theme colors */
.color_1{
    --drive: #ff7f43;
    --changer:#ff7f43;
   }
   .color_2{
    --drive: #ffc131;
    --changer:#ffc131;

   }
   .color_3{
    --drive: #1dff0996;
    --changer:#1dff0996;

   }
   .color_4{
    --drive: #45d3d3;
    --changer:#45d3d3;


   }.color_5{
    --drive: #ff465e;
    --changer:#ff465e;

   }
   #color_1{
    background-color: #ff7f43;
    
   }
   #color_2{
       background-color: #ffb400;
   }
   #color_3{
       background-color: #1dff0996;
   }
   #color_4{
       background-color: #45d3d3;
   }#color_5{
       background-color: #ff465e;
   }
img{
    width: 100%;
}
ul{
    list-style: none;
}
body{
    line-height: 1.6;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: var(--color-primary);}
/* icon size */
.s-icon-font{
    font-size: 20px;
    background: none;
    padding: 10px;
    z-index: 2;
}
/* header start*/
header{
    position: fixed;
    left: 30px;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    height: calc(100vh - 200px);
    top: 100px;
    opacity: 1;
}
header li,.setting li{
    margin: 10px;
    border-radius: 50%;
    display: flex;
    color: var(--color-primary);
    align-items: center;
    width: 35px;
    overflow: hidden;
}
header li:hover,.setting li:hover{
    overflow:visible;
}
/* end header */


/* mode & setting gear start*/
.setting{
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 3;
    display: flex;
    height: calc(100vh - 200px);
    top: 100px;
    opacity: 1;
}
.setting li{
    flex-direction: row-reverse;
}
.setting_gear input {
    width: 30px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    position:absolute;
    right: 10px;
    padding: 15px;
}
.setting_gear input:checked ~ .Theme {
    width: 250px;
    height: auto;
    padding: 0px 20px;
    transition: all .2s ease;
    /* border: 1px solid var(--color-primary); */

}
.s-icon{
    animation: spin 2s linear infinite;
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}
.Theme{
    width: 0px;
    overflow: hidden;
    position: absolute;
    right: 0;
    border-radius: 12px;
    backdrop-filter: blur(17px) saturate(200%);
    background-color: rgba(105, 102, 86, 0.185);
}
.Theme h4{
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
}
.colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.colors span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    opacity: .5;
}
span.active{
    opacity: 1;
}
/* mode & setting gear end */
/* home-page start */

.drive{
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
    background-color: var(--drive);
}
.card {
    backdrop-filter: blur(17px) saturate(200%);
    background-color: rgba(219, 213, 181, 0.46);
    border-radius: 12px;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.home-details {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.main__img{
    width: 30%;
    height: auto;
}
.main__img img{
    border-radius: 10px;
    margin: 20px;
}
.main__content{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}
.main__content h1{
    font-size :clamp(.5rem, 5vmin, 4rem);
    line-height: 1;
    font-weight: 700;
    text-align: left;
    margin: 18px 0 10px;
    position: relative;
    text-transform: uppercase;
    color: var(--changer);
}
.main__content h1::before{
    position: absolute;
    content: '';
    height: 3px;
    width: 8%;
    background-color: var(--changer);
    margin-left: -4rem;
    margin-top: 2rem;
}
.main__content p{
    width: 80%;
}
.home{
    height: 100vh;
}
/* home page end */

/* Main setting */
.container{
    width: 80%;
    margin: auto;
}
.title-section{
    position: relative;
    padding: 50px 0;
    text-align: center;
}
.title-section h1{
    font-size: 56px;
    font-weight: 800;
    color: var(--color-primary);
    text-transform: uppercase;
    margin: 0;
}
.title_span{
    color: var(--changer);
}
.title-bg{
    font-size: 110px;
    left: 0;
    letter-spacing: 10px;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--bgtitle);
}



/* [About section] start */
.info-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info-left img{
    width: 250px;
    height: 350px;
    box-shadow: 0px 30px 40px -20px var(--grayishblue);
    border-radius: 10px;
}
info-right{
    width: 50%;
}
.col-5{
    flex: 0 0 50%;
    max-width: 50%;
}
.col-5 ul li{
    margin: 10px;
}
.details{
    display: flex;
}

.btn{
    position: relative;
    display: inline-flex;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 250px;
    margin: 20px 0px;
    left: 0;
}
.btn span{
    position: relative;
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
    justify-content: space-around;
}
.btn::before{
    background-color: var(--changer);
    transition: 0.3s ease-out;
    position: absolute;
    content: " ";
}
.btn span{
    color: var(--color-secondary);
    border: 1px solid var(--changer);
    transition: 0.2s 0.1s;
}
.btn span:hover{
    color: var(--color-primary);
    transition: 0.2s 0.1s;
}
.btn-hover::before{
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.btn-hover:hover::before{
    height: 0%;
}
.title{
    color: var(--changer);
}

.line::after{
    content: '';
    width: 50%;
    left: 25%;
    margin: 2.5rem auto;
    height: 1px;
    text-align: center;
    position: absolute;
    background-color: rgb(146, 146, 146);
    border-radius: 10rem;
    z-index: -1;
}

.section-title{
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 0;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--changer);
    margin: 30px 0;
}
.section-title1{
    font-size: 16px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 0;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--changer    );
    margin: 10px 0px 20px;
}
.section-title2{
    font-size: 24px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 0;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--color-primary);

    margin: 30px 0px 20px;
    position: relative; 
}
.section-title2::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 20%;
    background-color: var(--color-primary);
    margin-left: 1rem;
}
.skills,.Knowledges{
    margin: 100px 50px;
}
.skills_container{
    display: flex;
}
.skills-con-left{
    width: 30%;
}
.skills-con-right{
    width: 70%;
}
.progress_number{
    float: right;
}
.progress_bar_content{
    margin-top: 8px;
    background: var(--color-primary);
    height: 3px;
}
.progress_bar_data1{
    width: 85%;
}
.progress_bar_data2{
    width: 60%;
}
.progress_bar_data3{
    width: 70%;
}
.progress_bar_data4{
    width: 90%;
}
.progress_bar_data5{
    width: 55%;
}
.skill_bar{
    margin-top: 20px;
}
.box_Knowledges,.skill_left{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill_left{
    justify-content: flex-start;
}
button{
    all: unset;
}
a{
 color: rgb(155, 230, 255);
}
.box_Knowledges button,.skill_left button,.location,.right_card2{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 1px 2px 13px 1px rgba(0, 0, 0, 0.5);
    color: var(--changer);
}
.skill_left button{
    padding: 5px 10px;
    margin: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.box_Knowledges button:hover,.skill_left button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }

.map,.mail{
    display: flex;
    align-items: center;
}
.map i , .mail i{
    margin: 20px;
}
.mail i{
    font-size: 28px;
}
.card2{
    display: flex;
    margin: 50px;
}
.left_card2{
    width: 50%;
}
.right_card2{
    width: 50%;
    padding: auto 50px;
}
.socail{
    margin: 20px;
}
.socail ul li{
    display: inline-block;
    margin: 5px;
    padding:  10px 15px;
    background-color: rgba(128, 128, 128, 0.26);
    border-radius: 50%;
}
.socail ul li a{
    color: var(--color-primary);
}
.qualification-round{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--color-primary);
    border-radius: 50%;
    top: 0;
    position:relative;
}
.qualification-line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--color-primary);
    transform: translate(6px , -7px);
}
.education_period{
    padding: .1rem 1rem;
    background-color: rgba(128, 128, 128, 0.24);
    display: inline;
}
.education_institute{
    margin: 8px 0px;
}
.education_point{
    display: flex;
}
.row1,.row2{
    width: 50%;
}
.column{
    line-height: 1.6;
    margin: 2rem;

}
.column2::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background-color: var(--color-primary);
}
.column ul{
    margin: 10px 20px;
    list-style:disc;
}
/* a{
    color: var(--changer);
} */
.column2{
    position: relative;
    padding: 1px 20px;
    border-left: 2px solid #ddd;
}
.column2 p{
    text-align: justify;
    margin-bottom: 20px;
}
.main_title{
    margin: 10px 0px 10px;
}
.subtitle{
    margin: 0px 0px 20px 0px;
}
.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishblue);
    padding: 30px;
    margin: 20px;  
}
.imgsize{
    width: inherit;
    float: right;
}
@media (max-width: 450px) {
    .box {
        height: auto;
    }

}
@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }

}
.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}
h2 {
    color: var(--heading-primary);
    font-weight: 600;
}
@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 30%;
    }
    .header p {
        width: 30%;
    }   
}
.constraction{
    width: 60%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.constraction img{
    height: 80px;
    width: auto;
    margin-top: 50px;
}
.alert_info{
margin:5vh 0vh;
}
.alert_info h1{
    font-size :clamp(1rem, 20vmin, 10rem);
    color: var(--changer);
    text-align: center;
}
.alert_h3{
    text-align: center;
    line-height:normal;
}
.alert_h3::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 10%;
    background-color: var(--color-primary);
    margin-left: 1rem;
    margin-top: 1rem;
}
.alert_p{
    text-align: center;
    margin: 0 auto;
}
.alert_btn{
    float: right;
}
.tab-wrap{
    position: absolute;
}
.tab-content{
    position: absolute;
}
